<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infonet | Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg">
            <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">Let's start with your details</h1>
            <!-- Add this debugging section -->

            {% if error and 'username' in error %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Validation Error!</strong>
                <span class="block sm:inline"> {{ error }}</span>
            </div>
            {% endif %}
            <!-- End of debugging section -->
            <form action="/register/" method="post" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
                {% csrf_token %}
                <p class="text-center text-lg font-medium">Sign in to your account</p>
                <div>
                    <label for="email" class="sr-only">Email</label>
                    <div class="relative">
                        <input type="email" name="email"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Enter email" />
                        {% if errors %}
                        {% if 'email' in errors %}
                        <p class="text-red-500 text-xs italic">{{ errors.email }}</p>
                        {% endif %}
                        {% endif %}
                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                            </svg>
                        </span>
                    </div>
                </div>

                <div>
                    <label for="Username" class="sr-only">Username</label>
                    <div class="relative">
                        <input type="text" name="username"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Enter Username" />
                        {% if errors %}
                        {% if 'username' in errors %}
                        <p class="text-red-500 text-xs italic">{{ errors.username }}</p>
                        {% endif %}
                        {% endif %}
                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                            </svg>
                        </span>
                    </div>
                </div>

                <div>
                    <label for="password" class="sr-only">Password</label>
                    <div class="relative">
                        <input type="password" name="password"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Enter password" />
                        {% if errors %}
                        {% if 'password' in errors %}
                        <p class="text-red-500 text-xs italic">{{ errors.password }}</p>
                        {% endif %}
                        {% endif %}
                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </span>
                    </div>
                </div>

                <div>
                    <label for="confirm_password" class="sr-only">Confirm Password</label>
                    <div class="relative">
                        <input type="password" name="confirm_password"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Confirm password" />
                        {% if errors %}
                        {% if 'password_match' in errors %}
                        <p class="text-red-500 text-xs italic">{{ errors.password_match }}</p>
                        {% endif %}
                        {% endif %}
                        {% if errors %}
                        {% if 'confirm_password' in errors %}
                        <p class="text-red-500 text-xs italic">{{ errors.confirm_password }}</p>
                        {% endif %}
                        {% endif %}
                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </span>
                    </div>
                </div>

                <!-- {% if errors %}
                {% if 'all_fields' in errors %}
                <p class="text-red-500 text-xs italic">{{ errors.all_fields }}</p>
                {% endif %}
                {% if 'password' in errors %}
                <p class="text-red-500 text-xs italic">{{ errors.password }}</p>
                {% endif %}
                {% if 'username' in errors %}
                <p class="text-red-500 text-xs italic">{{ errors.username }}</p>
                {% endif %}
                {% if 'email' in errors %}
                <p class="text-red-500 text-xs italic">{{ errors.email }}</p>
                {% endif %}
                {% if 'unknown_error' in errors %}
                <p class="text-red-500 text-xs italic">{{ errors.unknown_error }}</p>
                {% endif %}
                {% endif %} -->

                <button type="submit"
                    class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
                    Sign Up
                </button>

                <p class="text-center text-sm text-gray-500">
                    Already have an account?
                    <a class="underline" href="/login/">Sign in</a>
                </p>
            </form>
        </div>
    </div>
</body>

</html>